@{
    ViewBag.Title = "About Fürst";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    Fürst is a German word for a ruler and is also a princely title.
    The word Fürst designates the head (the "first") of a ruling house, or the head of a branch of such a house.
    The "first" originates from ancient Germanic times, when the "first" was the leader in battle.
</p>
