@{
    ViewBag.Title = "FURST Home Page";
}
<body>
    <div class="jumbotron">
        <h1>FURST</h1>
        <p class="lead">Your FURST source for all your event needs.</p>
        <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Just getting started?</h2>
            <p>
                Sign up today to start using the power of FURST, and simplify your event planning!
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Have an event in less than 48 hours?</h2>
            <p>Use the Emergency button below and we'll drop everything to ensure your event goes off without a hitch.</p>
            <p><a class="btn btn-emergency" href="http://go.microsoft.com/fwlink/?LinkId=301866">EMERGENCY &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Products</h2>
            <p>All of the products and equipment you need, all in one place!</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>
