@{
    ViewBag.Title = "FURST Home Page";
}
<body>
    <div class="jumbotron furstLogo col-lg-12">
        
            <img src="https://furst.blob.core.windows.net/furst-media/FURST_Logo.jpg" alt="" />
        
        <p class="lead">Your FURST source for all your event needs.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Just getting started?</h2>
            <p>
                Sign up today to start using the power of FURST, and simplify your event planning!
            </p>
            <p><a class="btn btn-default" href="~/Account/Register">Register &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Have an event in less than 48 hours?</h2>
            <p>Use the Emergency button below and we'll drop everything to ensure your event goes off without a hitch.</p>
            <p><a class="btn btn-emergency" href="~/Home/Index">EMERGENCY &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Products</h2>
            <p>All of the products and equipment you need, all in one place!</p>
            <p><a class="btn btn-default" href="~/Home/Index">Products &raquo;</a></p>
        </div>

        <form>
            <input type="file" class="upload" size="45" name="file" id="file" accept="image/*capture=camera">
            <input type="file" accept="image/*;capture=camera">
        </form>

        <h2>Welcome to the Store Locator (MVC)!</h2>
        <p>
            @Html.ActionLink("Find a store near you!", "StoreLocator")
        </p>
        <ul>
            <li>@Html.ActionLink("Home", "Index")</li>
            <li>@Html.ActionLink("Find a Store!", "StoreLocator")</li>
        </ul>
    </div>
