body {
    background-color: #1d1d1d;
}

.body-content {
    background-color: #cccccc;
}

.btn-emergency {
  color: #000000;
  background-color: #DA291C;
  border-color: #000000;
  font-size: 1.5em;
  margin-top: 10px;
}

.navbar-inverse {
    background-color: #1d1d1d;
    border-color: #080808;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}

body {
    font-family: "Elephant", Helvetica, Arial, sans-serif;
}

@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

.furstLogo {
    height: 300px;
}

.furstLogoNav {
    height: 60px;
}